.checkbox {
  display: flex;
  align-items: center;

  font-size: 16px;
  color: var(--second-text-color);

  cursor: pointer;
  transition: all .4s;
}

.checkbox:hover,
.checkbox:focus {
  color: var(--text-color);
}

.checkbox:hover .box,
.checkbox:focus .box {
  border-color: var(--white-color);
}

.checkbox.checked {
  color: var(--text-color);
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23px;
  height: 23px;
  margin-right: 10px;

  border: 2px solid #353940;
  border-radius: 5px;

  transition: all .4s;
}

.input {
  width: 0px;
  height: 0px;

  opacity: 0;
}

.input:checked + .box {
  border-color: var(--white-color);
  background-color: var(--white-color);
}