.checkboxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .checkboxes {
    flex-wrap: wrap;
    margin-top: -15px;
  }

  .checkboxes label {
    width: 50%;
    margin-top: 15px;
  }
}