.input {
  max-width: 100%;
  padding-bottom: 10px;

  font-size: var(--font-size-small);
  color: var(--second-text-color);

  border: none;
  border-bottom: 1px solid var(--second-text-color);
  background-color: transparent;
  transition: all var(--transition-duration);

  outline: none;
}

.input:hover,
.input:focus {
  color: var(--text-color);

  border-bottom-color: var(--text-color);
}