.input {
  padding-bottom: 10px;

  font-size: 14px;
  color: var(--second-text-color);

  border: none;
  border-bottom: 1px solid #353940;
  background-color: transparent;
  transition: all .3s;

  outline: none;
}

.input:hover,
.input:focus {
  color: var(--text-color);

  border-bottom-color: var(--white-color);
}