.container {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.button {
  margin: 0px;
  padding: 15px 30px;

  font-size: 18px;
  color: #ffffff;

  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);

  cursor: pointer;
  outline: none;
  transition: all var(--transition-duration);
}

.button:hover,
.button:focus {
  transform: scale(1.04);
}

.description {
  display: block;
  margin-top: 10px;

  font-size: var(--font-size-small);
  text-align: center;

  opacity: 0.2;
}
