.list {
  margin: 80px 0px 0px 0px;
  padding: 0px;

  list-style: none;
}

.item:not(:last-child) {
  margin-bottom: 5px;
}

.line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;

  background-color: var(--second-background);
}

.password {
  width: calc(100% - 115px);

  white-space: nowrap;

  overflow: hidden;
}

.button {
  display: flex;
  align-items: center;
  width: 105px;
  padding: 0px;

  color: var(--text-color);

  border: none;
  background-color: transparent;

  opacity: 0.2;
  cursor: pointer;
  transition: all .3s;
}

.button:hover,
.button:focus {
  opacity: 1;
}

.button svg {
  width: 20px;
  height: 20px;
  margin-right: 5px;

  stroke: var(--text-color);;
}