.container {
  display: grid;
  grid-template-columns: 60px 1fr 85px;
  column-gap: 20px;
  row-gap: 5px;
}

.lock {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;

  border-radius: 50%;
  border: 3px solid #dcfce3;
  background-color: #ccfad6;
}

.lock svg {
  width: 32px;
  height: 32px;
}

.input {
  padding: 0px;

  font-family: var(--font-family);
  font-size: 36px;

  border: none;
  background-color: transparent;
  outline: none;
}

.actions {
  display: flex;
}

.actions button {
  padding: 0px;
  margin: 0px;
  
  border: none;
  background-color: transparent;
  transition: all 0.3s;

  cursor: pointer;
}

.actions button:not(:last-child) {
  margin-right: 5px;
}

.actions button:hover,
.actions button:focus {
  opacity: 0.7;
}

.actions button svg {
  width: 40px;
  height: 40px;
}

.complexity {
  display: flex;
  padding: 0px;
  margin: 0px;
  grid-column: 2;

  list-style: none;
}

.complexity li {
  width: 60px;
  height: 6px;
  margin-right: 5px;

  border-radius: 10px;
  border: 1px solid#cacaca;
}

.complexity li:nth-child(1) {
  background-color: #facccc;
}

.complexity li:nth-child(2) {
  background-color:#fdd4d4;
}

.complexity li:nth-child(3) {
  background-color: #fee4d7;
}

.complexity li:nth-child(4) {
  background-color:#faffd6;
}

.complexity li:nth-child(5) {
  background-color:#efffde;
}

.complexity li:nth-child(6) {
  background-color:#d8fec6;
}

.complexity li.active {
  border: none;
}

.complexity li.active:nth-child(1) {
  background-color: #de4141;
}

.complexity li.active:nth-child(2) {
  background-color:#fca5a5;
}

.complexity li.active:nth-child(3) {
  background-color: #fb814b;
}

.complexity li.active:nth-child(4) {
  background-color:#dbff4a;
}

.complexity li.active:nth-child(5) {
  background-color:#a6f865;
}

.complexity li.active:nth-child(6) {
  background-color:#6ef28a;
}