.fieldset {
  padding: 60px 50px 40px 50px;

  background-color:var(--second-background);
  border: none;
}

.legend {
  margin: 0px 0px 25px 0px;
  transform: translatey(60px);

  font-size: var(--font-size-large);
  font-weight: normal;
}

.description {
  margin: 0px 0px 25px 0px;

  font-size: var(--font-size-small);

  opacity: 0.2;
}

.body {
  margin-top: 40px;
}