.fieldset {
  --uint: 50px;
  --uint-inner: calc(var(--uint) / 2);

  padding: var(--uint);

  background-color:var(--second-background);
  border: none;
}

.legend {
  margin: 0px 0px var(--uint-inner) 0px;
  transform: translatey(calc(var(--uint) + 10px));

  font-size: var(--font-size-large);
  font-weight: normal;
}

.description {
  margin: 0px 0px var(--uint-inner) 0px;

  font-size: var(--font-size-small);

  opacity: 0.2;
}

.body {
  margin-top: 40px;
}