.mark {
  display: flex;
  justify-content: center;
  width: 10px;
  height: 10px;

  border-radius: 50%;
  background-color: #353940;
}

.active {
  background-color: var(--primary-color);
}

.label {
  display: block;
  margin-top: 15px;

  color: #353940;
}

.current .label {
  color: var(--white-color)
}