*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  /* fonts */
  --font-family: 'Lato', sans-serif;
  --font-size-large: 45px;
  --font-size-middle: 16px;
  --font-size-small: 14px;

  /* transition */
  --transition-duration: .4s;

  --border-radius: 5px;
}


html,
body {
  padding: 0px;
  margin: 0px;

  font-family: var(--font-family);
  font-size: var(--font-size-middle);
}

body {
  color: var(--text-color);

  background-color: var(--body-background);
}

#app {
  padding: 25px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  max-width: 1240px;
  margin: 0px auto;
}

.mt-80 {
  margin-top: 80px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}