*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  /* colors */
  --black-color-1: #191d24;
  --black-color-2: #1f232b;
  --white-color: #fff;
  --blue-color: #1e75d0;

  --primary-color: var(--blue-color);
  --text-color: var(--white-color);
  --second-text-color: #353940;
  --body-background: var(--black-color-1);

  /* font */
  --font-family: 'Lato', sans-serif;
}

html,
body {
  padding: 0px;
  margin: 0px;

  font-family: var(--font-family);
}

body {
  color: var(--text-color);

  background-color: var(--body-background);
}

#app {
  padding: 25px;
}

.container {
  max-width: 1240px;
  margin: 0px auto;
}

.mt-80 {
  margin-top: 80px;
}